:root {
  --main: red;
  --second: blue;
  --text: black;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

hr {
  width: 100%;
}

.money::before {
  --width: 10px;
  --height: 20px;
  background-image: url("/poke-dollar.svg");
  background-size: var(--width) var(--height);
  display: inline-block;
  width: var(--width);
  height: var(--height);
  content: "";
}
